@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Roboto:wght@100&family=Zilla+Slab:wght@300&display=swap');

* {
  margin: 0;
  bottom: 0;
  background: #252A34;
}

h1 {
  font-family: 'Zilla Slab', serif;
  font-size: 40px;
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  color: #FF2E63;
}

button {
  font-family: 'Zilla Slab', serif;
  margin-left: 50px;
  padding: 5px;
  color: #FF2E63;
  border: 3px dashed #FF2E63;
  font-weight: bold;
  font-size: medium;
  transition: all 0.5s;
  
} :hover {
  border-radius: 30%;
}


p {
  color: #08D9D6;

}

input, select {
  border: 1px solid lightgrey;
  outline: none;
  min-width: 25px;
  padding: 5px 2px 2px 5px;
  font-size: 15px;
  margin: 20px;
  border: 2px solid #FF2E63;
  color: #FF2E63;
  
}

body {
  color: #08D9D6;
  font-size: large;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}